.purple {
    .hero-section .circle-shape-1 {
        opacity: 0.2;
    }
    .hero-section .circle-shape-2 {
        opacity: 0.2;
    }
    .hero-shape {
        display: none;
    }
    .hero-shape.purple {
        display: inline-block;
    }

    //demo 4
    .hm4-service-section {
        background: purple;
    }
    .hm4-telbox {
        background: purple;
        border: 0;
    }
    .hm4-counter-column .icon-wrapper {
        background: purple;
        border: 0;
    }

    .hm4-ticker-section {
        background: purple;
    }

    .hm4-pricing-section {
        background-color: purple;
    }

    //demo 5
    .hm5-sidebar-navigation li a::before {
        background: purple;
    }
    .hm5-sidebar-navigation li a span {
        background: purple;
        &::before {
            background: purple;
        }
    }
    .hm5-counter-column .icon-wrapper {
        background: purple;
        border: 0;
    }

}
.red {
    .hero-section .circle-shape-1 {
        opacity: 0.2;
    }
    .hero-section .circle-shape-2 {
        opacity: 0.2;
    }
    .hero-shape {
        display: none;
    }
    .hero-shape.red {
        display: inline-block;
    }

    //demo 4
    .hm4-service-section {
        background: red;
    }
    .hm4-telbox {
        background: red;
        border: 0;
    }
    .hm4-counter-column .icon-wrapper {
        background: red;
        border: 0;
    }

    .hm4-ticker-section {
        background: red;
    }

    .hm4-pricing-section {
        background-color: red;
    }

    //demo 5
    .hm5-sidebar-navigation li a::before {
        background: red;
    }
    .hm5-sidebar-navigation li a span {
        background: red;
        &::before {
            background: red;
        }
    }
    .hm5-counter-column .icon-wrapper {
        background: red;
        border: 0;
    }
}
.blue {
    .hero-section .circle-shape-1 {
        opacity: 0.2;
    }
    .hero-section .circle-shape-2 {
        opacity: 0.2;
    }
    .hero-shape {
        display: none;
    }
    .hero-shape.blue {
        display: inline-block;
    }

    //demo 4
    .hm4-service-section {
        background: blue;
    }
    .hm4-telbox {
        background: blue;
        border: 0;
    }
    .hm4-counter-column .icon-wrapper {
        background: blue;
        border: 0;
    }

    .hm4-ticker-section {
        background: blue;
    }

    .hm4-pricing-section {
        background-color: blue;
    }

    //demo 5
    .hm5-sidebar-navigation li a::before {
        background: blue;
    }
    .hm5-sidebar-navigation li a span {
        background: blue;
        &::before {
            background: blue;
        }
    }
    .hm5-counter-column .icon-wrapper {
        background: blue;
        border: 0;
    }
}
.orange {
    .hero-section .circle-shape-1 {
        opacity: 0.2;
    }
    .hero-section .circle-shape-2 {
        opacity: 0.2;
    }
    .hero-shape {
        display: none;
    }
    .hero-shape.orange {
        display: inline-block;
    }

    //demo 4
    .hm4-service-section {
        background: orange;
    }
    .hm4-telbox {
        background: orange;
        border: 0;
    }
    .hm4-counter-column .icon-wrapper {
        background: orange;
        border: 0;
    }

    .hm4-ticker-section {
        background: orange;
    }

    .hm4-pricing-section {
        background-color: orange;
    }

    //demo 5
    .hm5-sidebar-navigation li a::before {
        background: #ffa500;
    }
    .hm5-sidebar-navigation li a span {
        background: orange;
        &::before {
            background: orange;
        }
    }
    .hm5-counter-column .icon-wrapper {
        background: orange;
        border: 0;
    }

}
.green {
    .hero-section .circle-shape-1 {
        opacity: 0.2;
    }
    .hero-section .circle-shape-2 {
        opacity: 0.2;
    }
    .hero-shape {
        display: none;
    }
    .hero-shape.green {
        display: inline-block;
    }

    //demo 4
    .hm4-service-section {
        background: green;
    }
    .hm4-telbox {
        background: green;
        border: 0;
    }
    .hm4-counter-column .icon-wrapper {
        background: green;
        border: 0;
    }

    .hm4-ticker-section {
        background: green;
    }

    .hm4-pricing-section {
        background-color: green;
    }

    //demo 5
    .hm5-sidebar-navigation li a::before {
        background: green;
    }
    .hm5-sidebar-navigation li a span {
        background: green;
        &::before {
            background: green;
        }
    }
    .hm5-counter-column .icon-wrapper {
        background: green;
        border: 0;
    }

}