/*********************** header section ********************/
.header-section {
    position: relative; 
    z-index: 1;
    @include screen-992 {
        background-color: var(--white-color);
        .crete-navbar {
            box-shadow: none;
        }
    }
}

.language-switcher {
    .nice_select {
        border: 0; 
        font-weight: 600;
        background-color: transparent;
        &::after {
            content: '\f107';
            font-family: 'FontAwesome';
            border: 0;
            height: 0;
            transform: rotate(0);
            top: 4px;
            right: 20px;
        }
        &.open {
            &::after {
                content: '\f106';
            }
        }
    }
}

.infobar-content {
    gap: 40px;
    @include large-screen {
        gap: 24px;
    }
}

.info-social {
    display: flex; 
    align-items: center; 
    gap: 20px;
    &.border-left {
        position: relative;
        &::before {
            content: ''; 
            position: absolute;
            left: -24px;
            top: 50%;
            transform: translateY(-50%);
            width: 1px; 
            height: 17px;
            background-color: var(--text-color);
        }
    }
    
    a {
        color: var(--text-color);
        &:hover {
            color: var(--primary-color);
            i {
                animation: 0.3s toLeftFromRight forwards;
            }
        }
    }
}

.header-icons-white {
    a {
        color: var(--white-color);
    }
}

.info-small-white {
    @include large-screen {
        .nice_select {
            background-color: transparent;
            color: var(--white-color);
            .list {
                li {
                    color: var(--headings-color);
                } 
            }
        }
        .info-social {
            a {
                color: var(--white-color);
                &:hover {
                    opacity: 0.5;
                }
            }
        }
    }
}

.info-small-dark {
    @include large-screen {
        .nice_select {
            color: var(--headings-color) !important;
        }
        .info-social {
            a {
                color: var(--headings-color) !important;
                &:hover {
                    opacity: 0.5;
                }
            }
        }
    }
}

.crete-navbar {
    padding: 0 40px;
    border-radius: 12px;
    box-shadow: var(--box-shadow);
    @include screen-992 {
        padding: 15px;
    }
}

.crete-navmenu {
    text-align: end;
    & > ul {
        display: inline-block;
        & > li {
            & > a {
                position: relative;
                &::before {
                    content: ''; 
                    position: absolute;
                    bottom: 25px;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 0;
                    height: 2px;
                    background-color: var(--primary-color);
                    transition: var(--transition-base);
                }
                &:hover {
                    &::before {
                        width: calc(100% - 32px);
                    }
                }
            }
        }
        li {
            display: inline-block;
            position: relative;
            a {
                display: block;
                padding: 44px 16px;
                font-weight: 600;
                color: var(--text-color);
                text-transform: uppercase;
                font-size: 14px;
            }
            &.has-submenu {
                position: relative;
                &::after {
                    content: '\f107';
                    position: absolute;
                    font-family: 'FontAwesome';
                    right: 0;
                    top: 45px;
                    font-size: 13px;
                    color: var(--text-color);
                    transition: var(--transition-base);
                }
                & > .submenu-wrapper {
                    position: absolute;
                    top: calc(100% + 10px);
                    left: 0;
                    min-width: 220px;
                    background-color: var(--white-color);
                    z-index: 10;
                    padding: 6px 0;
                    opacity: 0;
                    visibility: hidden;
                    transition: var(--transition-base);
                    box-shadow: var(--box-shadow);
                    text-align: left;
                    li {
                        display: block;
                        a {
                            color: var(--text-color);
                            padding: 10px 24px;
                            position: relative;
                            &::before {
                                content: ''; 
                                position: absolute;
                                left: 12px; 
                                top: 50%;
                                transform: translateY(-50%);
                                width: 0;
                                height: 2px; 
                                background-color: var(--primary-color);
                                transition: var(--transition-base);
                            }
                        }
                        &:hover {
                            & > a {
                                padding-left: 36px;
                                color: var(--primary-color);
                                &::before {
                                    width: 15px;
                                }
                            }
                        }
                        &.has-submenu {
                            &::after {
                                content: '\f105';
                                top: 10px;
                                right: 12px;
                                color: var(--text-color);
                            }
                            & > .submenu-wrapper {
                                content: '\f105';
                                position: absolute;
                                left: 100%;
                                top: 10px;
                            }
                            &:hover {
                                & > .submenu-wrapper {
                                    top: 0;
                                }
                                &::after {
                                    color: var(--primary-color);
                                }
                            }
                        }
                    }
                }
                &:hover {
                    & > .submenu-wrapper {
                        top: 100%;
                        opacity: 1; 
                        visibility: visible;
                    }
                }
            }
            &:hover {
                & > a {
                    color: var(--primary-color);
                }
                &::after {
                    color: var(--primary-color);
                }
            }
        }
    }
}

.header-style-2 {
    .infobar-content {
        a, p {
            color: var(--headings-color);
        }
    }
    .language-switcher {
        .nice_select {
            background-color: transparent;
            color: var(--white-color);
            .list {
                li {
                    color: var(--headings-color);
                }
            }
        }
    }
    .info-social {
        a {
            color: var(--white-color);
            &:hover {
                color: var(--headings-color);
            }
        }
    }
}

.language-switcher {
    .nice_select {
        &.list-headings-color {
            color: var(--white-color);
            .list {
                li {
                    color: var(--headings-color);
                }
            }
        }
    }
}

/*************** header style 3 *************/
.header-style-3 {
    padding: 60px 0;
    .hm3-header-right  {
        a {
            color: var(--white-color); 
            font-weight: 600;
            &:hover {
                color: var(--headings-color);
            }
        }
    }
    @include screen-992 {
        padding: 15px;
        background-color: var(--white-color);
        .hm3-header-right {
            a {
                color: var(--headings-color);
                &:hover {
                    color: var(--primary-color);
                }
            }
        }
    }
}

.canvus-menu-toggle {
    width: 60px;
    height: 60px;
    background-color: var(--white-color);
    color: var(--primary-color);
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: var(--transition-base);
    &:hover {
        background-color: var(--headings-color);
        color: var(--white-color);
    }
    @include screen-992 {
        background-color: var(--primary-color);
        color: var(--white-color);
    }
}


/****************** sticky header ****************/
.header-sticky {
    &.sticky-on {
        position: fixed !important; 
        top: 0; 
        left: 0;
        width: 100%;
        animation: 1s fadeInDown;
        z-index: 100;
        background-color: var(--white-color);
        box-shadow: var(--box-shadow);
        z-index: 200;
        .infobar {
            display: none !important;
        }
        .crete-navbar {
            box-shadow: none;
        }
    }
}

.header-style-3 {
    &.sticky-on {
        padding: 10px 0;
        .header-tel {
            color: var(--headings-color);
        }
        .canvus-menu-toggle {
            background-color: var(--primary-color);
            color: var(--white-color);
            &:hover {
                background-color: var(--headings-color); 
            }
        }
    }
}