<section class="page-section" id="our-stack">
    <div class="container px-4 px-lg-5">
        <h2 class="text-center mt-0">Notre stack technique</h2>
        <hr class="divider" />
        <div class="row gx-4 gx-lg-5">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <img style="max-height: 100px;" src="/images/stack/hadoop.webp" class="img-fluid">
                    <p class="text-muted mb-0">Hadoop</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <img style="max-height: 100px;" src="/images/stack/terraform.webp" class="img-fluid">
                    <p class="text-muted mb-0">Terraform</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <img style="max-height: 100px;" src="/images/stack/docker.webp" class="img-fluid">
                    <p class="text-muted mb-0">Docker</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <img style="max-height: 100px;" src="/images/stack/ansible.webp" class="img-fluid">
                    <p class="text-muted mb-0">Ansible</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <img style="max-height: 100px;" src="/images/stack/jenkins.webp" class="img-fluid">
                    <p class="text-muted mb-0">Jenkins</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <img style="max-height: 100px;" src="/images/stack/kube.webp" class="img-fluid">
                    <p class="text-muted mb-0">Kubernetes</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <img style="max-height: 100px;" src="/images/stack/aws.webp" class="img-fluid">
                    <p class="text-muted mb-0">AWS</p>
                </div>
            </div>
        </div>
    </div>
</section>