<section class="page-section bg-primary" id="join-us">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8 col-xl-6 text-center">
                <h2 class="mt-0">A Toulouse, en <b>vélo</b>, on dépasse les <b>autos</b> ! <i class="bi bi-bicycle"></i> <i class="bi bi-truck"></i> <i class="bi bi-music-note"></i></h2>
                <hr class="divider" />
                <p class="text-muted mb-5">Tous les <i>Wyllers</i> ont la possibilité d'avoir un <b>vélo électrique de fonction</b> dans le cadre d'un partenariat avec <a class="text-info" href="https://nuwo.fr" target="_blank">NUWO</a></p>
            </div>
        </div>
    </div>
</section>