<!-- Wyllosophie-->
<section class="page-section bg-primary" id="wyllosophie">
    <div class="container px-4 px-lg-5">
        <h2 class="text-center mt-0">La Wyllosophie</h2>
        <hr class="divider" />
        <div class="row gx-4 gx-lg-5">
            <div class="col-lg-4 col-md-3 text-center">
                <div class="mt-4">
                    <div class="mb-2"><i class="bi-hand-thumbs-up fs-1 text-primary"></i></div>
                    <h3 class="h4 mb-2 text-uppercase">Dernier cri</h3>
                    <p class="text-muted mb-0">La technologie évolue toujours plus vite, c’est pourquoi nous sommes toutes et tous en veille technologique constante. Nos équipes sont formées sur les derniers outils en permanence et participent à des webinars et autres événements constamment.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-3 text-center">
                <div class="mt-5">
                    <div class="mb-2"><i class="bi-cloud-check fs-1 text-primary"></i></div>
                    <h3 class="h4 mb-2 text-uppercase">Passionés</h3>
                    <p class="text-muted mb-0">Nous aimons les passionnés et nous vous encourageons à vivre vos passions. Pour cela, Wyll accompagne ses équipes pour leur permettre de profiter pleinement de leurs passions (sport, jeux vidéos, échecs, mangas, pâtisserie, etc.) </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-3 text-center">
                <div class="mt-5">
                    <div class="mb-2 text-uppercase"><i class="bi-collection fs-1 text-primary"></i></div>
                    <h3 class="h4 mb-2">No Bullshit</h3>
                    <p class="text-muted mb-0">Parce que nous avons compris qu’un babyfoot était loin d’être suffisant et parce qu’il y a certaines choses qui ne s’achètent pas (oui, pour tout le reste il y a Stack Overflow…), le respect, l’écoute et la transparence sont les maîtres mots à bord.</p>
                </div>
            </div>
        </div>
    </div>
</section>
