<!-- Header-->
<header class="masthead" style="background-color: #132651;">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 align-items-center justify-content-center text-center mt-5">
            <div class="col-lg-8">
                <h1 class="text-white font-weight-bold"><img class="img-fluid" src="/images/logo-wyll-vertical-blanc.webp"></h1>
                <p class="text-white mb-5">
                    <i class="bi-gear fs-1"></i> DevOps / <i class="bi-cloud-check fs-1"></i> Cloud / <i class="bi-collection fs-1"></i> Data<br />
                    <a class="btn btn-primary btn-xl mt-4" href="#our-skills">Découvrez nos compétences</a>
                </p>
            </div>
        </div>
    </div>
</header>