<header class="masthead" style="background-color: #132651;">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 align-items-center justify-content-center text-center mt-5">
            <div class="col-lg-8">
                <h1 class="text-white font-weight-bold"><img class="img-fluid" src="/images/logo-wyll-vertical-blanc.webp" alt="Logo de Wyll"></h1>
            </div>
        </div>
        <div class="row text-center fs-1">
            <div class="col-lg-4 mt-2">
                <div class="card card-skill">
                    <div class="card-body">
                        <i class="bi-gear"></i><br />DevOps
                    </div>
                  </div>
            </div>
            <div class="col-lg-4 mt-2">
                <div class="card card-skill">
                    <div class="card-body">
                        <i class="bi-cloud-check"></i><br />Cloud
                    </div>
                  </div>
            </div>
            <div class="col-lg-4 mt-2">
                <div class="card card-skill">
                    <div class="card-body">
                        <i class="bi-collection"></i><br />Data
                    </div>
                  </div>
            </div>
        </div>
        <div class="row text-center mt-4">
            <div class="col">
                <a class="btn btn-primary btn-xl mt-4" href="#our-skills">Découvrez nos compétences</a>
            </div>
        </div>
    </div>
</header>