<section class="page-section" id="our-skills">
    <div class="container px-4 px-lg-5">
        <h2 class="text-center mt-0">Nos compétences à votre service</h2>
        <hr class="divider" />
        <div class="row gx-4 gx-lg-5">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <div class="mb-2"><i class="bi-gear fs-1 text-primary"></i></div>
                    <h3 class="h4 mb-2">DevOps</h3>
                    <p class="text-muted mb-0">Le <b>DevOps</b> est avant tout un état d’esprit et une volonté commune entre les OPS et les DEVs de travailler ensemble. Nous opérons sur la totalité de la chaine CI/CD en utilisant les outils les plus évolués du marché.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <div class="mb-2"><i class="bi-cloud-check fs-1 text-primary"></i></div>
                    <h3 class="h4 mb-2">Cloud</h3>
                    <p class="text-muted mb-0">De GCP en passant par AWS et Azure, nous intervenons sur toutes les facettes du Cloud : IaaS, PaaS, SaaS et les différentes façons de l’implémenter, Public, Privé, Hybride ou Communautaire.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <div class="mb-2"><i class="bi-collection fs-1 text-primary"></i></div>
                    <h3 class="h4 mb-2">Data</h3>
                    <p class="text-muted mb-0">La data est peut-être l’enjeu des SI d’aujourd’hui et de demain. Les compétences en Big Data sur les stacks Hadoop, Spark, Scala, etc. sont indissociables des compétences Cloud et DevOps.
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <div class="mb-2"><i class="bi-hammer fs-1 text-primary"></i></div>
                    <h3 class="h4 mb-2">Dev</h3>
                    <p class="text-muted mb-0">Nous vous aidons sur toutes vos problématiques de développement backend (Java, Python, Golang, etc..) et frontend (Angular, React, VueJS, etc..).</p>
                </div>
            </div>
        </div>
    </div>
</section>