<!doctype html>
<html lang="fr-FR">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Wyll - DevOps Cloud Data - Toulouse - Montpellier - Bordeaux</title>

    <meta name="description" content="Wyll - DevOps Cloud Data - Toulouse - Montpellier - Bordeaux">
  
    <link rel="icon" type="image/png" href="logo.png" />
    {{ $css := resources.Get "css/styles.css" }}
    {{ $css = $css | resources.PostCSS | minify | fingerprint | resources.PostProcess }}
    {{ $bootstrapIcons := resources.Get "css/bootstrap-icons.css" }}
    {{ $bootstrapIcons := $bootstrapIcons | minify | fingerprint | resources.PostProcess }}
    {{ $googleFonts := resources.Get "css/google-fonts.css" }}
    {{ $googleFonts := $googleFonts | minify | fingerprint | resources.PostProcess }}
    {{ $dinoCSS := resources.Get "css/dino.css" }}
    {{ $dinoCSS := $dinoCSS | minify | fingerprint | resources.PostProcess }}

    <style>
        {{ $css.Content | safeCSS }}
        {{ $bootstrapIcons.Content | safeCSS }}
        {{ $googleFonts.Content | safeCSS }}
        {{ $dinoCSS.Content | safeCSS }}
    </style>
</head>