{{ partial "head" . }}

<body id="page-top">
    {{ partial "navbar" . }}

    {{ partial "bloc_header" . }}
    {{ partial "bloc_skills" . }}
    {{ partial "bloc_wyllosophie" . }}
    {{ partial "bloc_stack" . }}
    {{ partial "bloc_zone" . }}
    {{ partial "bloc_social" . }}
    {{ partial "bloc_join" . }}

    {{ partial "footer" . }}
 
 
 <!-- Bootstrap core JS-->
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
 <!-- SimpleLightbox plugin JS-->
 <script src="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.js"></script>
 <!-- Core theme JS-->
 <script src="js/scripts.js"></script>

</body>
</html>