/************************* about section start ************************/
.ab-years-box {
    padding: 40px;
    background-color: var(--primary-color);
    color: var(--white-color);
    display: flex;
    align-items: center;
    box-shadow: var(--primary-shadow);
    border-radius: 15px;
    gap: 10px;
    left: 0; 
    top: 80px;
    h3 {
        color: var(--white-color);
    }
    p {
        font-weight: 700;
        text-transform: uppercase;
    }
}

.crb-brand-area {
    padding: 100px;
    @include portrait-phone {
        padding: 40px;
    }
}

.crb-brand-slider {
    .single-item {
        border: 1px solid var(--border-color);
        text-align: center;
        padding: 32px 40px;
        border-radius: 15px;
        img {
            display: inline-block;
        }
    }
    .prev-btn, .next-btn {
        position: absolute;
        right: 0;
        top: -120px;
        width: 60px;
        height: 60px;
        background-color: var(--primary-light);
        color: var(--primary-color);
        border-radius: 50%;
        transition: var(--transition-base);
        &:hover {
            background-color: var(--primary-color); 
            color: var(--white-color);
        }
    }
    .prev-btn {
        right: 75px;
    }
    @include screen-992 {
        .prev-btn, .next-btn {
            display: none !important;
        }
    }
}

.dreamer-section {
    .layer-blur {
        width: 800px;
        height: 800px;
        background: linear-gradient(225deg, #25D4F8 0%, #8A53FF 52.26%, #E64AFF 100%);
        filter: blur(200px);
        opacity: 0.3;
        bottom: -400px;
        right: -400px; 
    }
}