/************************ index - 1  ****************/

/************* hero section start **************/
.hero-section {
    padding: 380px 0 215px;
    margin-top: -200px;
    background-repeat: no-repeat; 
    background-size: cover;
    .hero-image {
        right: -90px; 
        bottom: 0;
        position: absolute;
    }
    .circle-shape-1 {
        width: 650px; 
        height: 650px; 
        background-color: rgba(#4D4CDF, 0.6);
        border-radius: 50%;
        left: -100px;
        top: -190px;
    }
    .circle-shape-2 {
        width: 220px;
        height: 220px;
        background-color: #5852CD;
        border-radius: 50%;
        left: -130px;
        bottom: 230px;
    }
    .circle-shape-3 {
        width: 300px;
        height: 300px;
        background-color: rgba(#DCDDFD, 0.6);
        border-radius: 50%;
        right: 190px;
        top: 290px;
    }
    .circle-shape-4 {
        width: 70px;
        height: 70px;
        background-color: #B6DCFD;
        border-radius: 50%;
        right: 130px;
        bottom: 35%;
    }
    .circle-shape-5 {
        width: 19px; 
        height: 19px;
        background-color: #FFDF6F;
        border-radius: 50%;
        right: 160px;
        bottom: 60%;
    }
    .bulb-shape {
        left: 60%;
        top: 25%;
        animation: 6s ups-down linear infinite;
    }
    .percent-shape {
        right: 6%;
        top: 18%;
    }
    @include screen-1900 {
        background-position: center  bottom;
        background-size: cover;
    }
    @include screen-1700 {
        .hero-image {
            right: -150px;
        }
    }
    @include screen-1400 {
        .hero-image {
            right: -300px;
        }
    }
    @include large-screen {
        background-size: 0;
        background-color: #3336C3;
        padding: 220px 0 100px;
        .hero-image, .circle-shape-3, .bulb-shape, .percent-shape {
            display: none;
        }
    }
    @include screen-992 {
        padding-top: 300px;
        .hero-content-left {
            margin-bottom: 60px;
        }
    }
    @include portrait-phone {
        padding: 250px 0 70px;
    }
}
.hero-content-left {
    h1 {
        color: var(--white-color);
    }
    .primary-outline {
        border-color: var(--white-color);
        &:hover {
            border-color: var(--black-light);
        }
    }
}

.mt-150 {
    margin-top: -650px;
    padding: 400px 0;
}

/************* about section start ************/
.ab-award-box {
    left: 40px; 
    bottom: 40px; 
    max-width: 280px;
    border-radius: 15px;
    &::before {
        content: ''; 
        position: absolute;
        left: 10px;
        top: -10px; 
        width: 100%; 
        height: 100%;
        border: 2px solid var(--white-color);
        transition: var(--transition-base);
        border-radius: 15px;
    }
    &:hover {
        &::before {
            left: -10px; 
        }
    }
}

.ab-flex-box {
    img {
        max-width: 100px;
    }
}

.cr-subtitle {
    &::before {
        content: ''; 
        position: absolute;
        left: 0; 
        bottom: -6px;
        width: 100%;
        height: 1px;
        background-color: var(--primary-color);
    }
    &.text-white {
        &::before {
            background-color: var(--white-color);
        }
    }
}

/************************* service section start ***********************/
.service-section {
    .circle-shape-1 {
        width: 160px;
        height: 160px;
        background-color: #2D2D2D;
        border-radius: 50%;
        opacity: 0.6;
        top: 30%;
        left: -80px;
    }
    .circle-shape-2 {
        width: 800px;
        height: 800px;
        background-color: #2D2D2D;
        border-radius: 50%;
        opacity: 0.6;
        left: -400px;
        bottom: -300px;
    }
}
.service-card {
    padding: 50px;
    .explore-btn {
        color: var(--headings-color); 
        font-weight: 600;
        transition: var(--transition-base);
        font-size: 17px;
        svg {
            path {
                transition: var(--transition-base);
            }
        }
    }
    &:hover {
        .icon-wrapper {
            img {
                animation: 0.3s shake;
            }
        }
        .explore-btn {
            color: var(--primary-color);
            svg {
                animation: 0.3s toLeftFromRight linear;
                path {
                    fill: var(--primary-color);
                }
            }
        }
    }
    @include screen-992 {
        flex-wrap: wrap;
    }
    @include portrait-phone {
        padding: 32px;
    }
}

/************************ ticker section start ************************/ 
.ticker-section {
    padding: 32px 0;
    background-repeat: no-repeat;
    position: relative;
    margin-top: -40px;
    background-size: cover;
}


/************************** experts section start *********************/
.cta-box {
    padding: 40px;
    max-width: 600px;
    .icon-wrapper {
        width: 55px; 
        height: 55px;
    }
    .icon-tel {
        width: 73px; 
        height: 73px;
        background: linear-gradient(90deg, #CBC7F1 0%, rgba(226, 234, 243, 0) 100%);
        padding: 12px;
        position: relative; 
        z-index: 1;
        animation: 1s ripple-animation linear infinite;
        span {
            position: relative;
        }
    }
}

.exp-year-box {
    width: 190px;
    height: 190px;
    background-color: var(--primary-color);
    left: 5%;
    bottom: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 8px 24px;
    text-align: center;
    h3 {
        margin-bottom: 2px;

    }
    h6 {
        line-height: 1.2em;
    }
}

.cr-pf-slider {
    .prev-arrow, 
    .next-arrow {
        width: 60px;
        height: 60px;
        background-color: rgba(#4E3CFE, 0.07); 
        color: var(--primary-color);
        transition: var(--transition-base);
        border-radius: 50%;
        position: absolute;
        top: -54px;
        &:hover {
            background-color: var(--primary-color); 
            color: var(--white-color);
        }
        @include portrait-phone {
            display: none;
        }
    }
    .prev-arrow {
        right: 76px;
    }
    .next-arrow {
        right: 0; 
    }
}

.pf-box {
    border-radius: 12px;
    overflow: hidden;
    img {
        transition: var(--transition-base);
    }
    &::before {
        content: ''; 
        position: absolute;
        left: 0; 
        top: 0; 
        width: 100%;
        height: 100%;
        background-color: var(--headings-color);
        opacity: 0;
        transition: var(--transition-base);
        z-index: 1;
    }
    .pf-content {
        position: absolute;
        left: 50px;
        bottom: 50px;
        z-index: 2;
        max-width: calc(100% - 100px);
    }
    .explore-btn {
        position: absolute;
        left: 50px; 
        top: 50px;
        width: 80px; 
        height: 80px;
        background-color: rgba(#ffffff, 0.09);
        border-radius: 50%;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border: 1px solid var(--white-color);
        z-index: 1;
        opacity: 0; 
        visibility: hidden;
        &:hover {
            background-color: var(--primary-color);
            border-color: var(--primary-color);
            color: var(--white-color);
            svg {
                animation: 0.3s toLeftFromRight;
            }
        }
    }
    h3, p {
        opacity: 0; 
        visibility: hidden;
        transition: var(--transition-base);
    }
    h3 {
        font-size: 30px;
        line-height: 1.2em;
        margin-bottom: 16px;
    }
    &:hover {
        img {
            transform: scale(1.1);
        }
        &::before {
            opacity: 0.7;
        }
        .explore-btn {
            opacity: 1;
            visibility: visible;
            animation: 0.5s theme_fadeInUp;
        }
        h3{
            animation: 0.6s theme_fadeInUp;
            opacity: 1; 
            visibility: visible;
        }
        p {
            animation: 0.7s theme_fadeInUp;
            opacity: 1; 
            visibility: visible;
        }
    }
    &.box-sm {
        .explore-btn {
            width: 60px; 
            height: 60px;
            left: 24px;
            top: 32px;
        }
        .pf-content {
            left: 24px;
            bottom: 32px;
            max-width: calc(100% - 48px);
        }
    }
}

/********************* feedback section start **********************/
.feedback-section {
    .circle-shape-1, .circle-shape-2 {
        width: 600px;
        height: 600px;
        background-color: #272727;
        border-radius: 50%;
    }
    .circle-shape-1 {
        top: -200px;
        left: -130px;
    }
    .circle-shape-2 {
        bottom: -270px;
        right: -110px;
    }
}
.feedback-slider {
    .prev-arrow, 
    .next-arrow {
        position: absolute;
        top: -120px;
        svg {
            path {
                opacity: 0.2;
                transition: var(--transition-base);
            }
        }
        &:hover {
            svg {
                path {
                    opacity: 1;
                }
            }
        }
    }
    .prev-arrow {
        right: 80px;
    }
    .next-arrow {
        right: 0;
    }
    @include screen-768 {
        .prev-arrow,
        .next-arrow {
            display: none;
        }
    }
}
.feedback-single {
    border-radius: 40px;
    padding: 70px;
    display: flex;
    gap: 65px;
    .clients-comment {
        font-size: 30px;
    }
    @include screen-992 {
        padding: 60px;
        & > img {
            display: none;
        }
    } 
    @include portrait-phone {
        padding: 40px 32px;
        .clients-comment {
            font-size: 22px;
        }
    }
}

/************************* pricing section start *******************/
.pricing-box {
    padding: 70px 40px 40px;
    background-color: var(--gray-100);
    border-radius: 30px;
    transition: var(--transition-base);
    h3 {
        font-size: 36px;
    }
    .package-icon {
        width: 120px;
        height: 120px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        padding: 18px;
        border: 10px solid var(--gray-100);
    }
    .pricing-box-content {
        padding: 110px 40px 40px;
        background-color: var(--white-color);
        border-radius: 30px;
        margin-top: -60px;
        .pricing-title {
            span {
                margin-left: -16px;
                color: var(--text-color);
            }
        }
        .pricing-features {
            li {
                font-weight: 500;
                + li {
                    margin-top: 10px;
                }
            }
        }
        .template-btn {
            border-radius: 30px;
            &::after {
                border-radius: 30px;
            }
        }
    }
    padding: 50px 32px 32px;
    &:hover {
        background-color: var(--primary-color);
        h3, .subtitle {
            color: var(--white-color);
        }
        .package-icon {
            border-color: var(--primary-color);
        }
    }
}

/************************************* contact section start ********************************/
.contact-section {
    .circle-shape, .circle-shape-2 {
        background-color: #272727; 
    }
    .circle-shape {
        width: 600px; 
        height: 600px;
        left: -400px;
        bottom: -400px;
    }
    .circle-shape-2, .circle-shape-3 {
        width: 800px; 
        height: 800px;
    }
    .circle-shape-2 {
        right: -200px;
        top: -200px;
    }
    .circle-shape-3 {
        border: 2px solid #272727;
        left: -440px;
        bottom: -440px;
    }
    &.dark-bg-color {
        .lead {
            color: #898989;
        }
        .contact-info-list {
            li {
                span {
                    color: #6b6b6b;
                }
            }
        }
    }
}
.contact-info-list {
    li {
        .icon {
            width: 80px;
            height: 80px;
        } 
        h6 {
            font-size: 22px;
            line-height: 1.3em;
            transition: var(--transition-base);
            &:hover {
                color: var(--primary-color) !important;
            }
        }
        + li {
            margin-top: 40px;
        }
        &:hover {
            .icon {
                img {
                    animation: 0.4s shake linear;
                }
            }
        }
    }
}

.contact-form-box {
    padding: 60px; 
    border-radius: 30px;
    .contact-form {
        label {
            display: block;
            font-weight: 500;
            color: var(--headings-color);
            margin-bottom: 24px
        }
    }
    @include portrait-phone {
        padding: 32px;
    }
}

/************************* blog section start **************************/
.article-card {
    border-radius: 25px;
    overflow: hidden;
    z-index: 1;
    .overlay-bg {
        position: absolute;
        left: -110%; 
        top: 0; 
        width: 120%;
        height: 100%;
        background-color: rgba(#000000, 0.55);
        transform: skew(-10deg);
        transition: var(--transition-base);
        opacity: 0;
        z-index: 1;
    }
    .feature-image {
        img {
            transition: var(--transition-base);
        }
    }
    .card-content-wrapper {
        width: calc(100% - 60px);
        position: absolute;
        z-index: 2;
        left: 30px; 
        bottom: 30px;
        padding: 42px;
        border-radius: 25px;
        .blog-meta {
            span {
                + span {
                    position: relative;
                    &::before {
                        content: ''; 
                        position: absolute;
                        left: -12px; 
                        top: 0; 
                        width: 1px; 
                        height: 16px;
                        background-color: var(--primary-light);
                        transform: rotate(10deg);
                    }
                }
            }
        }
        .title {
            font-size: 30px;
            line-height: 38px;
        }
        .description {
            display: none;
        }
        .explore-btn {
            font-weight: 700;
            color: var(--primary-color);
            &:hover {
                i {
                    animation: 0.3s toLeftFromRight; 
                }
            }
        }
    }
    &:hover {
        .overlay-bg {
            left: -10%;
            opacity: 1;
        }
        .feature-image {
            img {
                transform: scale(1.1);
            }
        }
    }
    @include portrait-phone {
        .overlay-bg {
            display: none;
        }
        .card-content-wrapper {
            position: relative;
            left: auto;
            margin-left: 15px;
            width: calc(100% - 30px);
            box-shadow: var(--box-shadow);
        }
    }
}