.hm4-main {
    padding-left: 300px;
    .canvus-menu {
        left: 0;
        z-index: 210;
        &.active {
            left: 0 !important;
        }
    }
    .container {
        padding-left: 20px;
    }
    @include screen-768 {
        padding-left: 0;
        .canvus-menu {
            left: -300px;
        }
        .container {
            padding-left: 12px;
        }
    }
}

.hm4-header-section {
    padding: 16px 0;
    .hm4-header-toggle {
        width: 40px;
        height: 40px;
        background-color: var(--headings-color);
        color: var(--white-color);
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border-radius: 4px;
        &:hover {
            background-color: var(--primary-color);
            color: var(--white-color);
        }
    }
}

.hm4-hero-section {
    padding: 150px 0;
    .circle-shape-1 {
        width: 770px;
        height: 770px;
        background-color: #EAEBFD;
        top: -430px;
        left: -440px;
    }
    .circle-shape-2 {
        width: 570px;
        height: 570px;
        background-color: rgba(#DCDDFD, 0.6);
        bottom: -420px;
        left: -90px;
    }
    .circle-shape-3 {
        width: 700px;
        height: 700px;
        border: 2px solid #EAE9F7;
        left: -500px; 
        bottom: -350px;
    }
    .circle-shape-4 {
        width: 40px;
        height: 40px; 
        background-color: #B6DCFD;
        left: 35%;
        bottom: 130px;
    }
    .circle-shape-5 {
        width: 19px; 
        height: 19px;
        background-color: #AEBBFF;
        left: 12%;
        top: 16%;
    }
}

.hm4-hero-content {
    .display-1 {
        line-height: 90px;
    }
    .hm4-subtitle {
        font-size: 22px;
        line-height: 1.2em;
    }
    p {
        max-width: 600px;
    }
    @include screen-768 {
        .display-1 {
            line-height: 1.2em;
        }
    }
}

.hm4-hero-right {
    .hero-icon {
        box-shadow: var(--hm4-shadow);
    }
    .html {
        width: 99px;
        height: 99px;
        padding: 30px;
        left: -120px;
        top: 0;
        animation: 6s ups-down linear infinite;
    }
    .css {
        width: 85px;
        height: 85px;
        padding: 25px;
        right: 25px;
        top: -90px;
        animation: 8s ups-down linear infinite;
    }
    .bootstrap {
        width: 120px;
        height: 120px;
        right: -95px;
        bottom: 180px;
        padding: 30px;
        z-index: 1;
        animation: 8s ups-down linear infinite;
    }
}

/*********************** service section start ******************************/
.hm4-service-section {
    background: linear-gradient(277.58deg, rgba(102, 213, 236, 0.4) 11.74%, rgba(82, 65, 255, 0.75) 88.26%), #2A1E9E;    
}

.hm4-telbox {
    padding: 50px;
    background-color: rgba(#4752D8, 0.77);
    border-radius: 30px;
    border: 1px solid #6770F6;
    box-shadow: 0px 13px 42px #3B4BBF;
    .icon-wrapper {
        width: 90px;
        height: 90px;
        font-size: 25px;
        color: var(--primary-color);
    }
    h5 {
        color: var(--white-color);
        transition: var(--transition-base);
        &:hover {
            opacity: 0.9;
        }
    }
    &:hover {
        .icon-wrapper {
            i {
                animation: 0.3s shake linear;
            }
        }
    }
}

.hm4-counter-column {
    .icon-wrapper {
        width: 80px;
        height: 80px;
        background-color: rgba(#4752D8, 0.77);
        border: 1px solid #6770F6;
        box-shadow: 0px 13px 42px #3B4BBF;

    }
    &:hover {
        .icon-wrapper {
            svg {
                animation: 0.3s shake linear;
            }
        }
    }
}
.ps-xxl-100 {
    padding-left: 100px;
    @include screen-1400 {
        padding-left: 0;
    }
}

.hm4-ticker-section {
    background: linear-gradient(300.56deg, rgba(102, 213, 236, 0.4) 25.69%, rgba(65, 50, 218, 0.8) 81.99%), #4132DA;
    border-top: 1px solid rgba(#ffffff, 0.1);
}

/********************************** about section start *****************************/
.hm4-about-left {
    img {
        border-radius: 30px;
    }
}
.hm4-ab-info {
    box-shadow: 0px 10px 35px rgba(35, 31, 80, 0.13);
    .td-icon-box {
        h6 {
            transition: var(--transition-base);
            &:hover {
                color: var(--primary-color);
            }
        }
    }
}


/***************************** experience section start **********************/
.hm4-exp-box {
    background: linear-gradient(180deg, #FFFFFF 0%, #F7F5F2 100%);
    padding: 90px 90px 90px 130px;
    border-radius: 30px;
    border: 1px solid var(--white-color);
    box-shadow: 0px 16px 82px rgba(239, 233, 220, 0.88);
    gap: 125px;
    .exp-badge {
        background: linear-gradient(180deg, #FFFFFF 0%, #F7F5F2 100%);
        padding: 10px;
        border-radius: 30px;
        display: inline-block;
        border: 1px solid var(--white-color);
        position: absolute;
        top: -124px;
        left: -36px;
        span {
            padding: 12px 20px;
            background-color: var(--white-color);
            color: var(--primary-color);
            font-size: 14px;
            font-weight: 700;
            text-transform: uppercase;   
            display: inline-block;
            border-radius: 30px;
        }
    }
    .exp-left {
        width: 50%;
    }
    .exp-right {
        width: 50%;
    }
    .exp-list {
        li {
            position: relative;
            &::before {
                content: ''; 
                position: absolute;
                left: -40px;
                top: 8px;
                width: 20px;
                height: 20px;
                border: 4px solid var(--primary-color);
                border-radius: 50%;
            }
            &::after {
                content: ''; 
                position: absolute;
                left: -30px;
                top: 24px; 
                width: 1px;
                height: 100px;
                background-color: var(--primary-color);
            }
            &:last-child {
                &::after {
                    display: none;
                }
            }
            + li {
                margin-top: 55px;
            }
        }
    }
    @include large-screen {
        .exp-left {
            width: 100%;
        }
        .exp-right {
            width: 100%;
            margin-top: 70px;
        }
    }
    @include portrait-phone {
        padding: 40px 32px 40px 60px;
        .exp-list {
            li {
                &::after {
                    display: none;
                }
            }
        }
    }
}



/***************************** brand section start ****************************/
.hm4-brand-slider {
    .slick-list {
        margin: 0 24px;
        .slick-slide {
            margin: 0 24px;
        }
    }
    @include screen-1600 {
        .slick-list {
            margin: 0 -16px;
            .slick-slide {
                margin: 0 16px;
            }
        }
    }
}
.hm4-brand-single {
    background-color: var(--white-color);
    border-color: var(--white-color);
    .icon {
        background-color: var(--light-bg-2);
    }
    p {
        color: var(--text-color);
    }
    h6 {
        font-size: 24px;
        line-height: 1.2em;
    }
}

/*********************** projects section start *****************/
.hm4-filter-btn-group {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    button {
        padding: 8px 16px;
        display: inline-block;
        color: var(--primary-color); 
        font-weight: 600;
        background-color: var(--white-color);
        border-radius: 6px;
        position: relative;
        transition: var(--transition-base);
        &:hover {
            color: var(--white-color);
            background-color: var(--headings-color);
        }
        &.active {
            color: var(--white-color);
            background-color: var(--headings-color);
        }
    }
}

.hm4-project-single {
    background-color: var(--white-color);
    padding: 30px;
    border-radius: 20px;
    .feature-image {
        border-radius: 20px;
        overflow: hidden;
        img {
            transition: var(--transition-base);
        }
        .explore-btn {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%) rotate(-30deg) scale(0);
            background-color: var(--white-color);
            width: 160px;
            height: 160px;
            border-radius: 50%;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            transition: var(--transition-base);
        }
    }
    h6 {
        transition: var(--transition-base);
        &:hover {
            color: var(--primary-color);
        }
    }
    &:hover {
        .feature-image {
            img {
                transform: scale(1.1);
            }
            .explore-btn {
                transform: translate(-50%, -50%) rotate(-30deg) scale(1);
            }
        }
    }
    @include screen-1460 {
        .feature-image {
            .explore-btn {
                width: 70px;
                height: 70px;
            }
        }
    }
}

/************************ pricing section start *****************/
.hm4-pricing-section {
    background: linear-gradient(262.44deg, rgba(102, 213, 236, 0.4) 26.33%, rgba(65, 50, 218, 0) 81.83%), #4132DA;
}
.hm4-pricing-box {
    background-color: var(--white-color);
    border-radius: 30px;
    padding: 50px 40px 40px;
    .saving-badge {
        position: absolute;
        padding: 16px 30px;
        display: inline-block;
        background-color: var(--primary-color);
        border-radius: 100px;
        top: -30px;
        left: 40px;
        color: var(--white-color);
        font-weight: 500;
        border: 5px solid var(--white-color);
    }
    .pricing-features {
        width: 60%;
        position: relative;
        &::before {
            content: '';
            position: absolute;
            right: 0;
            bottom: -40px;
            width: 1px;
            height: calc(100% + 90px);
            background-color: #E6E6E6;
        }
    }
    ul {
        margin-top: 24px;
        li {
            border-bottom: 1px solid #E6E6E6;
            padding-bottom: 8px;
            display: block;
            font-weight: 500;
            + li {
                margin-top: 16px;
            }
            &:last-child {
                border-bottom: 0;
            }
        }
    }
    .price-amount {
        width: 40%;
    }
    @include screen-992 {
        flex-wrap: wrap;
        .pricing-features {
            width: 100%;
            &::before {
                display: none;
            }
        }
        .price-amount {
            width: 100%;
        }
    }
}
/************************ feedback section **********************/
.hm4-feedback-section {
    background: linear-gradient(180deg, #EDEAE6 0%, #F7F5F2 100%);
}

.hm4-feedback-slider {
    margin-top: 70px;
    .prev-btn,
    .next-btn {
        position: absolute;
        right: 0;
        top: -110px;
        svg {
            path {
                fill: var(--black-color);
                fill-opacity: 0.1;
                transition: var(--transition-base);
            }
        }
        &:hover {
            svg {
                path {
                    fill: var(--primary-color);
                    fill-opacity: 1;
                }
            }
        }
    }
    .prev-btn {
        right: 80px;
    }
    @include large-screen {
        .prev-btn, .next-btn {
            right: auto;
            left: calc(50% - 40px);
            transform: translateX(-50%);
            top: auto; 
            bottom: -80px;
        }
        .next-btn {
            left: calc(50% + 40px);
        }
    }
}

.hm4-feedback-single {
    background-color: var(--white-color);
    border-radius: 30px;
    padding: 40px;
    .spacer {
        display: block;
        height: 1px;
        width: 100%;
        background-color: #F2EFEA;
        margin: 35px 0 30px;
    }
    .star-ratings {
        background-color: var(--hm3-light-bg);
        padding: 15px 20px;
        border-radius: 30px;
        li {
            color: #FFB422;
        }
    }
}

/********************** contact section start *********************/
.hm4-contact {
    .circle-shape {
        bottom: 100px;
        opacity: 0.44;
    }
    .circle-shape-3 {
        top: -260px;
        left: -700px;
    }
}

/********************** footer section start **********************/
.hm4-copyright {
    background-color: var(--headings-color);
    padding: 30px 0;
    &::before {
        content: ''; 
        position: absolute;
        left: 0; 
        top: 0;
        width: 100%;
        height: 1px; 
        background-color: #2C2C2C;
    }
}