
.canvus-menu {
    position: fixed;
    left: -310px; 
    top: 0; 
    width: 300px;
    height: 100vh;
    overflow-y: scroll;
    background-color: var(--headings-color);
    z-index: 100;
    padding: 40px;
    transition: var(--transition-base);
    &::-webkit-scrollbar {
        width: 5px;
    }
    &::-webkit-scrollbar-track {
        background-color: var(--primary-light);
    }
    &::-webkit-scrollbar-thumb {
        width: 20px;
    }
    .canvus-nav-menu {
        margin-top: 45px;
        border: 1px solid #2F2F2F;
        border-radius: 30px;
        overflow: hidden;
        li {
            display: block;
            + li {
                border-top: 1px solid #2F2F2F;
            }
            a {
                display: block;
                padding: 24px 25px;
                text-transform: uppercase;
                color: var(--white-color);
                font-weight: 700;
                &:hover {
                    background-color: var(--primary-color);
                }
            }
        }
    }

    .canvus-nav-menu {
        li {
            &.has-submenu {
                position: relative;
                & > i {
                    position: absolute;
                    right: 0;
                    top: 6px;
                    padding: 8px;
                    transition: var(--transition-base);
                    &.icon-rotate {
                        transform: rotate(180deg);
                    }
                }
                & > .submenu-wrapper {
                    padding-left: 15px;
                    display: none;
                    li {
                        a {
                            position: relative;
                            &::before {
                                content: ''; 
                                position: absolute;
                                left: 10px; 
                                top: 50%;
                                transform: translateY(-50%); 
                                width: 15px; 
                                height: 2px;
                                background-color: var(--white-color);
                                opacity: 0; 
                                transition: var(--transition-base);
                            }
                            &:hover {
                                padding-left: 35px;
                                &::before {
                                    opacity: 1;
                                }
                            }
                        }
                    }
                }
            }
        }
    }






    &.active {
        left: 0;
    }
}




.canvus-icon-box {
    border: 1px solid #2F2F2F;
    border-radius: 30px;
    .single-icon {
        text-align: center;
        padding: 32px 24px;
        + .single-icon {
            margin-top: 30px;
            border-top: 1px solid #2F2F2F;
        }
        img {
            margin-bottom: 24px;
        }
        a {
            color: var(--white-color);
            font-weight: 700;
            display: block;
        }
    }
}

/***************************** hero section start *************************/
.hm3-hero-section {
    padding: 195px 0 0;
    margin-top: -200px;
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center;
    z-index: 1;
    .hero-shape-1 {
        right: 4%; 
        top: 0;
        z-index: -1;
    }
    .line-white {
        left: 0; 
        top: 90px;
    }
    .text-shape {
        left: -120px;
        font-size: 400px;
        color: var(--white-color);
        bottom: -75px;
        font-weight: 700;
        line-height: 1.1em;
        opacity: 0.75   
    }
    @include screen-1400 {
        .hero-shape-1 {
            right: -50px;
        }
    }
    @include large-screen {
        .text-shape {
            font-size: 300px;
        }
    }
    @include screen-992 {
        margin-top: 0;
        padding-top: 100px;
        &::before {
            content: ''; 
            position: absolute;
            left: 0; 
            width: 100%;
            top: 0; 
            height: 100%;
            background: linear-gradient(277.62deg, rgba(102, 213, 236, 0.53) 11.81%, rgba(65, 50, 218, 0) 94.9%), #4132DA;
            z-index: -1;
        }
        .hero-shape-1, .line-white {
            display: none;
        }
        h1 {
            color: var(--white-color)
        }
        p {
            color: var(--white-color);
        }
    }
}

/***************** about section start ******************/
.hm3-about-section {
    background-color: var(--headings-color);
}

.hm3-about-left {
    .desc {
        color: #8F8F8F;
    }
}

.hm3-exp-box {
    padding: 24px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    border-radius: 15px;
    gap: 15px;
    transition: var(--transition-base);
    h6 {
        color: var(--white-color);
    }
    p {
        font-weight: 500;
    }
    &:hover {
        background-color: var(--white-color);
        h6 {
            color: var(--headings-color);
        }
    }
}

.exp-filter {
    .nav-tabs {
        gap: 24px;
        margin-bottom: 32px;
        li {
            a {
                display: inline-block;
                padding: 12px 20px;
                border-radius: 30px;
                background-color: var(--white-color);
                font-weight: 700;
                text-transform: uppercase;
                font-size: 14px;
                color: var(--text-color);
                span {
                    display: inline-block;
                }
                &:hover {
                    span {
                        animation: 0.3s toTopFromBottom;
                    }
                }
                &.active {
                    background-color: var(--primary-color);
                    color: var(--white-color);
                }
            }
        }
    }
    .hm3-exp-box {
        + .hm3-exp-box {
            position: relative;
            &::before {
                content: ''; 
                position: absolute;
                left: 0; 
                width: 100%;
                height: 1px;
                background-color: #2F2F2F;
                top: 0;
            }
        }
    }
}

.hm3-brand-item {
    border-radius: 30px;
    padding: 40px;
    border: 1px solid #2F2F2F;
    text-align: center;
    p {
        color: #8F8F8F;
        font-weight: 500;
        font-family: var(--headings-font);
    }
    .icon {
        width: 110px;
        height: 110px;
        margin: 24px 0;
    }
    &:hover {
        .icon {
            img {
                animation: 0.3s shake linear;
            }
        }
    }
}

.hm3-brand-slider {
    margin-top: 100px;
    .slick-list {
        margin: 0 -35px;
        .slick-slide {
            margin: 0 35px;
        }
    }
    @include screen-1400 {
        .slick-list {
            margin: 0 -12px;
            .slick-slide {
                margin: 0 12px;
            }
        }
    }
}

/****************** project section start ***************/
.hm3-project-section {
    background: linear-gradient(277.62deg, rgba(102, 213, 236, 0.53) 11.81%, rgba(65, 50, 218, 0) 94.9%), #4132DA;
}

.hm3-project-single {
    padding: 40px;
    border-radius: 40px;
    .feature-image {
        border-radius: 40px;
        overflow: hidden;
        position: relative;
        &::before {
            content: '';
            position: absolute;
            left: -110%; 
            top: 0; 
            width: 120%;
            height: 100%;
            background-color: rgba(#000000, 0.55);
            transform: skew(-10deg);
            transition: var(--transition-base);
            opacity: 0;
            z-index: 1;
        }
        img {
            transition: var(--transition-base);
        }
    }
    h6 {
        transition: var(--transition-base);
        &:hover {
            color: var(--primary-color);
        }
    }
    &:hover {
        .feature-image {
            &::before {
                left: -10%;
                opacity: 1;
            }
            img {
                transform: scale(1.1);
            }
        }
    }
    @include portrait-phone {
        padding: 24px;
    }
}

/******************* google map start ******************/
.hm3-google-map {
    iframe {
        width: 100%;
        height: 580px;
    }
    .logo-icon {
        position: absolute;
        padding: 10px;
        width: 100px;
        height: 100px;
        background-color: var(--white-color);
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}

/******************* feedback section start ********************/
.hm3-feedback-single {
    background-color: var(--white-color);
    border-radius: 30px;
    padding: 40px;
    .spacer {
        display: block;
        height: 1px;
        width: 100%;
        background-color: #F2EFEA;
        margin: 35px 0 30px;
    }
    .star-ratings {
        background-color: var(--hm3-light-bg);
        padding: 15px 20px;
        border-radius: 30px;
        li {
            color: #FFB422;
        }
    }
}

/********************************** ticker area start *********************/
.hm3-ticker-section {
    padding: 40px 0;
    .ticker-shape {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%) rotate(1deg);
        width: 100%;
        height: 110px;
        background-color: #D6D2FF;
    }
    .ur-ticker-box {
        transform: rotate(-1.5deg);
    }
}
.ur-ticker-wrapper {
    box-sizing: content-box;
    width: 100%;
    padding-left: 100%;
}

.ur-ticker-wrapper .ur-ticker {
    display: inline-block;
    white-space: nowrap;
    padding: 30px 0;
    animation: 30s ticker linear infinite;
    box-sizing: content-box;
    padding-right: 100%;
}

.ur-ticker-wrapper .ur-ticker span {
    font-size: 24px;
    font-weight: 700;
    position: relative;
    display: inline-block;
    transition: var(--transition-base);
    margin-right: 60px;
    @include large-screen {
        font-size: 20px;
    }
}