/*************************** feature section start ********************/
.sr-feature-section {
    background-repeat: no-repeat; 
    background-size: cover;
    background-position: left center;
}
.sr-feature-box {
    padding: 100px;
    @include portrait-phone {
        padding: 40px 24px;
    }
}

.cr-progress-single {
    overflow: hidden;
}

.cr-progress-bar {
    width: 100%;
    background-color: #F1F1F1;
    border-radius: 0;
    height: 2px;
    overflow: visible;
}
.cr-progress {
    width: 0;
    border-radius: 0;
    height: 8px;
    text-align: right;
    position: relative;
    transform: translateY(-16px);
}

/*************************** service details ************************/
.sidebar-icon-box {
    display: flex;
    align-items: center;
    gap: 15px;
    .icon {
        background-color: #3B2FCF;
        width: 50px;
        height: 50px;
        color: var(--white-color);
    }
    .subtitle {
        color: #CAC6FF;
        display: block;
        margin-bottom: 5px;
    }
}
.srd-feature-box {
    @include screen-768 {
        padding: 24px;
        .image-wrapper {
            width: 100%;
            img {
                width: 100%;
            }
        }
    }
}
.srd-feature-list {
    li {
        + li {
            margin-top: 6px;
        }
    }
}

.srd-accordion {
    .accordion-item {
        padding: 0;
        border-radius: 0;
        background-color: transparent;
        + .accordion-item {
            margin-top: 15px;
        }
        .accordion-header {
            a {
                font-size: 16px;
                padding: 20px 24px;
                display: block;
                border-radius: 5px;
                background-color: var(--primary-color);
                color: var(--white-color);
                &::after {
                    content: '\f062';
                    background: transparent;
                    color: var(--white-color);
                    top: 8px;
                }
                &.collapsed {
                    background-color: var(--light-bg);
                    color: var(--headings-color);
                    &::after {
                        content: '\f063';
                        color: var(--primary-color);
                    }
                }
            }
        }
        .accordion-body {
            background-color: var(--light-bg);
            margin-top: 0;
            padding-top: 24px;
        }
    }
}